.mediaViewInfo {
    --web-view-name: Create account;
    --web-view-id: Create_account;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Create_account;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Create_account {
    position: absolute;
    width: 360px;
    height: 640px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Create account;
    --web-view-id: Create_account;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#Light__Text_fields2_Outlined_6_md {
    position: absolute;
    width: 290px;
    height: 65px;
    left: 35px;
    top: 240px;
    overflow: visible;
}

#_Container_l_Color_me {
    fill: transparent;
    stroke: rgba(#007579);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

._Container_l_Color_me {
    position: absolute;
    overflow: visible;
    width: 290px;
    height: 56px;
    left: 0px;
    top: 9px;
}

#Top_label_mf {
    position: absolute;
    width: 38px;
    height: 16px;
    left: 13.5px;
    top: 0px;
    overflow: visible;
}

#top_border_with_background_col_mg {
    fill: rgba(245, 245, 245, 1);
    width: 70vw;
}

.top_border_with_background_col_mg {
    position: absolute;
    overflow: visible;
    width: 38px;
    height: 4px;
    left: 0px;
    top: 7px;
}

#_Label_mh {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#Light__Text_fields2_Outlined_6_mi {
    position: absolute;
    width: 290px;
    height: 65px;
    left: 35px;
    top: 290px;
    overflow: visible;
}

#_Container_l_Color_mj {
    fill: transparent;
    stroke: rgba(3, 218, 197, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

._Container_l_Color_mj {
    position: absolute;
    overflow: visible;
    width: 290px;
    height: 56px;
    left: 0px;
    top: 9px;
}

#Top_label_mk {
    position: absolute;
    width: 63px;
    height: 16px;
    left: 13.5px;
    top: 0px;
    overflow: visible;
}

#top_border_with_background_col_ml {
    fill: rgba(245, 245, 245, 1);
    width:70vw
}

.top_border_with_background_col_ml {
    position: absolute;
    overflow: visible;
    width: 63px;
    height: 4px;
    left: 0px;
    top: 7px;
}

#_Label_mm {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#Trailing_icon_mn {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 235px;
    top: 8px;
    overflow: visible;
}

#Boundary_mo {
    fill: transparent;
}

.Boundary_mo {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

#_Color_mp {
    fill: rgba(0, 0, 0, 0.6);

}

._Color_mp {
    overflow: visible;
    position: absolute;
    width: 22px;
    height: 15px;
    left: 1px;
    top: 4.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_396_mq {
    position: absolute;
    width: 193px;
    height: 43px;
    left: 84px;
    top: 400px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Adopt_a_tree.html;
    cursor: pointer;
}

#Light_Elevation00dp_mr {
    position: absolute;
    width: 193px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Shadow_ms {
    mix-blend-mode: multiply;
    position: absolute;
    width: 193px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_mv {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_mv {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
    position: absolute;
    overflow: visible;
    width: 208px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#Rectangle_mv {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_mv {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
    position: absolute;
    overflow: visible;
    width: 208px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#Rectangle_mv {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_mv {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
    position: absolute;
    overflow: visible;
    width: 208px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#_FAB_Color_mw {
    fill: rgba(3, 218, 197, 1);
}

._FAB_Color_mw {
    position: absolute;
    overflow: visible;
    width: 193px;
    height: 43px;
    left: 0px;
    top: 0px;
}

#Group_339_mx {
    position: absolute;
    width: 193px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;cursor: pointer;
    background-color: #007579;
    border-radius: 1.5em;
}

#State_my {
    position: absolute;
    width: 193px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#__Label_mz {
    left: 64px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.89px;
    text-transform: uppercase;
}

#Already_have_an_account_Sign_i {
    left: 83px;
    top: 580px;
    position: absolute;
    overflow: visible;
    width: 196px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#I_agree_with_our_terms_and_Con {
    left: 75px;
    top: 353px;
    position: absolute;
    overflow: visible;
    width: 215px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#Rectangle_20_m {
    fill: rgba(0, 0, 0, 0.122);
}

.Rectangle_20_m {
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 85px;
    left: 138px;
    top: 80px;
}

#link_m {
    position: absolute;
    width: 49.947px;
    height: 49.954px;
    left: 155.525px;
    top: 97.523px;
    overflow: visible;
}

#Group_398_m {
    position: absolute;
    width: 31.448px;
    height: 33.896px;
    left: 0px;
    top: 16.058px;
    overflow: visible;
}

#Group_397_m {
    position: absolute;
    width: 31.448px;
    height: 33.896px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_97_m {
    fill: rgba(112, 239, 222, 1);
}

.Path_97_m {
    overflow: visible;
    position: absolute;
    width: 31.448px;
    height: 33.896px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_400_m {
    position: absolute;
    width: 31.465px;
    height: 33.897px;
    left: 18.482px;
    top: 0px;
    overflow: visible;
}

#Group_399_m {
    position: absolute;
    width: 31.465px;
    height: 33.897px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_98_m {
    fill: rgba(14, 117, 121, 1);
}

.Path_98_m {
    overflow: visible;
    position: absolute;
    width: 31.465px;
    height: 33.897px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Light__Text_fields2_Outlined_6_na {
    position: absolute;
    width: 290px;
    height: 65px;
    left: 35px;
    top: 190px;
    overflow: visible;
}

#_Container_l_Color_nb {
    fill: transparent;
    stroke: rgba(3, 218, 197, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

._Container_l_Color_nb {
    position: absolute;
    overflow: visible;
    width: 290px;
    height: 56px;
    left: 0px;
    top: 9px;
}

#Top_label_nc {
    position: absolute;
    width: 83px;
    height: 16px;
    left: 13.5px;
    top: 0px;
    overflow: visible;
}

#top_border_with_background_col_nd {
    fill: rgba(245, 245, 245, 1);
    width: 70vw;
}

.top_border_with_background_col_nd {
    position: absolute;
    overflow: visible;
    width: 83px;
    height: 4px;
    left: 0px;
    top: 7px;
}

#_Label_ne {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#Create_account_nf {
    left: 34px;
    top: 150px;
    position: absolute;
    overflow: visible;
    width: 154px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(18, 18, 18, 1);
    letter-spacing: 0.3333333206176758px;
}

#Rectangle_21 {
    fill: transparent;
    stroke: rgba(3, 218, 197, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 50px;
    top: 350px;
}